 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 body {
    font-family: 'Libre Franklin', sans-serif;
    background: #000;
    color: #fff;
 }

.app {
  height: 100vh;
  max-width: 768px;
  margin: 0 auto;
}

/* MAIN HEADER */

.main-header {
}

.main-header__top-menu {
  position: fixed;
  z-index: 1;
  background: #121212;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  max-width: 768px;
}

.top-menu__camera {
  width: 20%;
}

.top-menu__camera img{
  width: 25px;
}

.top-menu__logo {
  flex-grow: 1;
  text-align: center;
}

.top-menu__logo img {
  padding-top: 5px;
  width: 130px;
}

.top-menu__actions {
  width: 20%;
  text-align: right;
}

.top-menu__actions img:first-child {
  margin-right: 10px;
}

.top-menu__actions img{
  width: 20px;
}

.top-menu__camera img,
.top-menu__logo img,
.top-menu__actions img {
  vertical-align: middle;
}

/* SCROLLABLE */

.scrollable {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 60px;
}

.scrollable__stories {
  background: #000;
  padding: 15px;
  overflow-x: auto;
  border-bottom: 1px solid #1e1e1e;
}

.stories___box {
  margin-right: 10px;
}

.box__image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 3px;
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.border {
  background: #000;
  color: white;
  padding: 1px;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.box__image a img {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 50%;
  object-fit: cover;
}

.box__name h2 {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.scrollable__stories .stories__box:first-child {
  color: #757575;
}

/* SCROLLABLE POSTS */
.post__top-bar {
  align-items: center;
  padding: 10px;
}

.post__top-bar .box__image {
  width: 43px;
  height: 43px;
  padding: 2px;
  margin-right: 10px;
}

.top-bar__username h3 {
  font-size: 15px;
  font-weight: 500;
}

.post__image {
  height: 400px;
  /* background-image: url('https://source.unsplash.com/collection/482916/30');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

.post__image__box {
  width: 100%;
  height: 100%;
}

.post__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post__bottom-bar {
  padding: 15px;
}

.bottom-bar__actions img {
  width: 25px;
  margin-right: 10px;
}

.bottom-bar__like {
  margin: 10px 0 5px;
}

.bottom-bar__like h4,
.bottom-bar__caption h4 {
  font-weight: 400;
  font-size: 14px;
}

.bottom-bar__like a,
.bottom-bar__caption a {
 text-decoration: none;
 color: #fff;
 font-weight: 600;
}

/* MAIN MENU */

.main-menu  {
  background: #121212;
  padding: 15px 20px 30px;
  justify-content: space-between;
  align-items: center;
  /* DEBUG:  */
  /* height: 80px; */
}

.main-menu__box {

}

.main-menu__box img {
  width: 25px;

}

.main-menu__box .box__profile-img img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}
